.page {
    background:#FEFCFA;
}

.animate-circle-bg {
    height: 1000dp;
    width: 1000dp;
    border-radius: 500;
    transform: translate(-500, -500);
    background: linear-gradient(to bottom, #F6F8FF, #F6F8FF, #FEF4EB);
}
.tabview {
    tab-text-color: #D7D6E6;
    selected-tab-text-color:#83A7FF;
    text-align: center;
    tab-background-color:#fff;
    text-transform:none;
    border-color: transparent;
    border-width: 1;
   
}
.tab {
    font-size: 16;
}

.tabview .active-tab {
    text-align: center;
    font-size: 14;
    padding: 0dp;
    margin: 0dp;
    text-transform:none;
}


/*history*/
.card-item {
    
   border-radius: 10dp!important;
   color: #000;
   height: 100%;
   width: 100%;
   padding-right: 20;
}



.card-image {
    border-color: transparent;
    border-width: 1;
   
  
}

.card-second {
    opacity: 0.9;
}

.card-other {
    opacity: 0.8;
}


.card-block {
    height: 180;
    width: 100%;
   
}

.workout-min {

    width: 50%;
}


.workout-min .name-workout {
    font-size: 14;
    line-height: 2;
    color: #0A0A0D;
    text-align: left;
    padding-bottom: 0;
    font-weight: 500;
}

.progress-workout {
    font-size: 12;
    color:#9AA0B1;
    text-align: left;
}


/*scheduleWorkouts*/

.chek-box {
    border-width: 3;
    border-color: #8AB6FD;
    height: 25;
    width: 25;
    border-radius: 12.5;
    font-size: 0;
    color: #fff;
}

.chek-box-chek {
    background: #8AB6FD;
    font-size: 8;
    padding-top: 6dp;
    
}

.workouts-list{
    background: #fff;
    border-radius: 5;
    
}

.workouts-list-title {
    text-align: left;
    font-size: 15;
    color: #0A0A0D;
    font-weight: 500;
    padding-bottom: 5;
}


.workouts-list-icons Label  {
    color: #9AA0B1;
    margin-right: 15;
    font-size: 12;
    font-weight: 500;
}




.workouts-list-icons .fa {
    margin-right: 5;
    margin-left: 0;
    font-size: 14;
}

.line-chek-bottom {
    width: 2;
    background: #8AB6FD;
    height: 50%;
    margin-bottom: -12.5;
    vertical-align: bottom;
}

.line-chek-top {
    width: 2;
    background: #8AB6FD;
    height: 50%;
    margin-top: -12.5;
    vertical-align: top;
}

.dateName Label{
    color: #F9B68F;
    font-size: 14;
    font-weight: 600;
    margin-bottom: 10;
    letter-spacing: 0.15dp;
    
}

.dateName .fa{
    margin-right: 10;
}