.page {
    background:rgba(255, 255, 255, 0.0);
}

.card-white {
    background: #fff;
    border-radius: 10;
    padding: 20;
    height: 100%;
}


.custom-shadow {
    background: linear-gradient(-45deg, rgba(255,255,255, 0.0),rgba(192,191,208, 0.2), rgba(255,255,255, 0.0));
   vertical-align: center;
   border-radius: 10;
 
}


.chart {
    min-height: 300;
   width: 100%;
  
}


.statistics-btn {
    background: #EAEEFF;
    height:40;
    min-width: 40;
    border-radius: 5;
    border-color: transparent;
    border-width: 1;
    color:#838FAD;
    font-size: 14;
    text-transform: none;
    
}

.statistics-active-btn{
    background: #83A7FF;
    color: #fff;
}


