/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
@import '~nativescript-theme-core/css/core.light.css';
*/


/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.text-input {
    border-width: 1;
    font-weight: 400;
    border-color:rgba(255, 255, 255, 0.3);
    border-radius: 5dp;
    font-size: 14;
    color: #fff;
    padding-top: 22;
    padding-bottom: 22;
    padding-left: 50dp;
    placeholder-color:#BBC2D4;
    color: #83A7FF;
    background: #EAEEFF;
}

.text-input-icon {
    color: #83A7FF;
    margin-left: 20dp;
    font-size: 15;
    padding-top: 4;
}

.page {
    background-color: #FEFCFA;
}

.fa {
    font-family: icomoon;
    font-size: 15dp;
}




.pager {
    font-size: 18;
    font-weight: 600;
    color: #BBC2D4;
}

.h1 {
    font-size: 22;
    text-align: left;
    font-weight: 600;
    color: #0A0A0D;
    margin-top:-4;
}

.text-blue {
    color: #83A7FF;
}


.mt-25 {
    margin-top: 25;
}

.mt-20 {
    margin-top: 20;
}
.mt-15 {
    margin-top: 15;
}

.mt-10 {
    margin-top: 10;
}

.mt-5 {
    margin-top: 5;
}



.ml-25 {
    margin-left: 25;
}

.ml-20 {
    margin-left: 20;
}

.ml-15{
    margin-left: 15;
}

.ml-10{
    margin-left: 10;
}

.ml-5{
    margin-left: 5;
}






.mr-25 {
    margin-right: 25;
}

.mr-20 {
    margin-right: 20;
}

.mr-15 {
    margin-right: 15;
}

.mr-10 {
    margin-right: 10;
}


.mr-5 {
    margin-right: 5;
}





.mb-25 {
    margin-bottom: 25;
}

.mb-20 {
    margin-bottom: 20;
}

.mb-15 {
    margin-bottom: 15;
}

.mb-10 {
    margin-bottom: 10;
}

.mb-5 {
    margin-bottom: 5;
}

.pt-10 {
    padding-top:10;
}

.pt-15 {
    padding-top:15;
}

.pt-20 {
    padding-top:20;
}

.pb-10 {
    padding-bottom:10;
}

.pb-15 {
    padding-bottom:15;
}


.pb-20 {
    padding-bottom:20;
}

.bg-black {
    background: #0A0A0D;
}



.button-big {
    height: 70dp;
    width: 100%;
    background: linear-gradient(to right,#6D89FC, #8AB6FD);
}


.button-big #text {
    color: #fff;
    font-size: 14dp;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing:0.2dp;

}

.button-big  #icon {
    color: #fff;
    font-size: 15;
    margin-top: 2dp;
    margin-left: 15dp;
}


.action-bar {
   /* background: #fff;*/
}

.menu-hamburger{
    font-size: 10dp;
    align-self: center ;
    color: #0A0A0D;
}

.title-page {
    text-align: center;
    align-self: center ;
}

.btn-min {
    background: #83A7FF;
  
    border-radius: 5;
    border-color: transparent;
    border-width: 1;
    color:#fff;
    font-size: 14;
    text-transform: none;
   
}

.btn-min Label {
    color: #fff;
    text-align: center;
    font-size: 14;
    font-weight: 500;
    font-weight: 600;
    margin-right: 10dp;
    margin-top: 8dp;
    margin-bottom: 10dp;
}

.btn-min .fa {
    margin-left: 10dp;
    margin-right: 10dp;
    margin-top: 10dp;
    margin-bottom: 10dp;
    font-size: 12;
}

.line-text-view  {
    color: #8AB6FD;
    border-color: #8AB6FD;
    border-width: 0 0 2 0;
    
}
.line-text-view .text-view {
    font-size: 14;
    color: #8AB6FD;
    border-color:transparent;
    border-width: 1;
    width: 100%;
    text-align: left;
    placeholder-color:#BBC2D4;
}

.progress-icons {
    vertical-align: center;
    horizontal-align:center;
    color: #F9B68F;
    font-size: 14;
    font-weight: 600;
}

.progress-icons .fa {
    padding-bottom: 1;

}

.animate-circle-bg {
    height: 1000dp;
    width: 1000dp;
    border-radius: 500;
    transform: translate(-500, -500);
    opacity: 0.7;
    background: linear-gradient(to bottom, #F6F8FF, #F6F8FF, #FEF4EB);
}

.chek-box {
    font-family: icomoon;
    border-width: 3;
    border-color: #8AB6FD;
    height: 25;
    width: 25;
    border-radius: 12.5;
    font-size: 0;
    color: #fff;
    text-align: center;
}


.chek-box-chek {
    background: #8AB6FD;
    font-size: 8;
    padding-top: 6dp;
    
}