.page {
    background: #FEFCFA;
}

.custom-shadow {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.0), rgba(192, 191, 208, 0.2), rgba(255, 255, 255, 0.0));
    vertical-align: center;
    width: 100%;
    border-radius: 20;
}

.animate-circle-bg {
    height: 1000dp;
    width: 1000dp;
    border-radius: 500;
    transform: translate(-250, -500);
    opacity: 1;
    background: linear-gradient(to bottom, #F6F8FF, #F6F8FF, #FEF4EB);
}


.card-white {
    background: #fff;
    border-radius: 10;
}

.progress-background {
    background: #F9B68F;
    height: 80%;
    width: 80%;
    text-align: center;
    border-radius: 100;
    margin: 10;

}


.progress-background Label {
    font-size: 16;
}


.close {
    border-width: 1;
    border-color: transparent;
    background: #fff;
    border-radius: 25;
    height: 30;
    width: 30;
    padding: 0;
    color: #F9B68F;
    font-size: 12;
    margin-bottom: -15;
    vertical-align: top;
    horizontal-align: right;
}


.video-container {
    vertical-align: top;
}



/*scheduleWorkouts*/




.workouts-list-title {
    text-align: left;
    font-size: 15;
    color: #0A0A0D;
    font-weight: 500;

}


.workouts-list-icons Label {
    color: #9AA0B1;
    margin-right: 15;
    font-size: 12;
    font-weight: 500;
}




.workouts-list-icons .fa {
    margin-right: 5;
    margin-left: 0;
    font-size: 14;
}

.full-video-exercises {
    background: #8AB6FD;
    height: 45;
    width: 45;
    min-width: 45;
    border-radius: 5;


}

.full-video-exercises Label {
    vertical-align: center;
    horizontal-align: center;
    font-size: 10;
    color: #fff;
}

.info-blue-radius {
    background: #8AB6FD;
    color: #fff;
    font-size: 16;
    height: 50;
    width: 50;
    border-radius: 50;
    text-align: center;
    font-weight: 600;
    padding-top: 12;
    margin: 25;
}

.progress-icons .time-e-ed {
    font-size: 12 !important;
    margin-top: -5;
}


.progress-icons .time-e {
    font-size: 24 !important;

}

.equements {
    font-size: 16;
    font-weight: 600;
    color: #F9B68F;
}


.next-ex {
    color: #83A7FF;

    width: 100%;
    text-align: right;

}

.stop-pause {
    height: 60;
    width: 85;
    border-radius: 5;
}

.btn-playar-mins {
    border-color: transparent;
    border-width: 1;
    background-color: transparent;
    color: #8AB6FD;
    width: 30;
    padding: 0;
    margin-left: 35;

}
